html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  text-size-adjust: 100%;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: "inherit";
}

:root {
  color-scheme: light;
}

strong,
b {
  font-weight: var(--typography-fontWeightBold);
}

body {
  margin: 0;
  color: var(--palette-text-primary);
  /* Include typography */
  background-color: var(--palette-background-default);
}

@media print {
  body {
    background-color: var(--palette-common-white);
  }
}

body::backdrop {
  background-color: var(--palette-background-default);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
